* {
font-family: 'roboto', sans-serif;
}

body {
box-sizing: border-box;
height: 100vh;
margin: 0px 0px;

display: flex;
flex-direction: column;
/*border: 1px solid red; */
}

.header {
    background-color: #1F2937; /* Dark blue-gray */
    padding: 20px 150px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content {
flex: 1;
display: flex;
flex-direction: column;

/*border: 1px solid red;*/
}
.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bolder;

}
.header-links a{
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}
.header-links {
    display: flex;
    gap: 16px;
}
.container-one {
    background-color: #1F2937;
    flex: 1;

    display: flex;
    padding: 100px 150px;
}

.one-content {
    flex:1 1 45%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 300px;

    /*border: 1px solid red;*/
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.subtext {
    font-size: 24px;
    color: #E5E7EB;
}

.one-image-holder {
    color: #F9FAF8;
    flex: 1 1 55%;
    display: flex;
    justify-content: right;

    /*border: 1px solid red;*/
}

.one-image {
    height: 300px;
    width: 500px;
    background-color: gray;

    /*border: 1px solid red;*/
}
.button-one {
    background-color: #3882F6;
    color: #F9FAF8;
    width: 150px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bolder;
    padding: 10px 10px;
}

.container-two {
    background-color: white;

    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 40px 200px 100px 200px;

    /*border: 1px solid red;*/
}

.information-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.two-images{
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    padding: 40px 0px 0px 0px;

    /*border: 1px solid red;*/
}

.two-image img {
    height: 215px;
    width: 215px;
    border: 5px solid#1F2937;
    border-radius: 10px;
}

.two-image {
    width: 225px;
    text-align: center;
    /*border: 1px solid red;*/
}

.container-three {
    background-color: #E5E7EB;

    flex: 1;

    /*border: 1px solid red;*/
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 80px 225px 0px 225px;

    /*border: 1px solid red;*/
}

.quote-source {
    font-weight: bold;
    font-size: 20px;
    text-align: right;
    padding-right: 225px;
    padding-bottom: 75px;
    
    /*border: 1px solid red;*/
}

.container-four {
    background-color: white;

    flex: 1;
}

.four-content {
    background: #3882F6;
    color: #F9FAF8;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
}